/*.user
.DS_Store
build/debug/CMakeCache.txt
build/debug/CMakeFiles/
build/debug/Makefile
build/debug/cmake_install.cmake
build/debug/deps/
build/macos-debug/CMakeCache.txt
build/macos-debug/CMakeFiles/
build/macos-debug/Makefile
build/macos-debug/cmake_install.cmake
build/macos-debug/deps/
build/macos-release/CMakeCache.txt
build/macos-release/CMakeFiles/
build/macos-release/Makefile
build/macos-release/cmake_install.cmake
build/macos-release/deps/
out/
log/
.vscode/
/deps/jquic/lib/
/deps/jquic/msvc/jquic.vcxproj.user
/deps/jquic/msvc/xquic.vcxproj
/deps/jquic/msvc/xquic.vcxproj.filters
/deps/jquic/msvc/xquic.vcxproj.user
/deps/boringssl/lib/
/deps/env/lib/
*.a
*.pdb
/jnitest
/build/centos*/
package-lock.json
*.tar.bz2
*.log
*.node
*.o
*.d
**/CMakeFiles
**/*.dir
CMakeCache.txt
/android/build/
